.nav-link {
  transition: 0.8s;
}
.nav-link:hover {
  transform: scale(1.05);
  text-decoration: underline;
}

li {
  list-style-type: none;
  cursor: pointer;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin: 10px;
  display: inline-block;
  border: black solid;
}

.search {
  width: 100%;
}
.vehicle {
  width: 280px;
}

optgroup {
  height: 50px;
}

.imageclass {
  height: 200px;
  width: 270px;
}

.active {
  border: 3px solid rgb(122, 121, 121);
  border-radius: 5px;
}
.view {
  height: 250px;
}
.gal {
  width: 67px;
  height: 50px;
  border-radius: 4px;
}
.helo {
  height: 200px;
  background-color: aqua;
}
.vehiclename {
  height: 50px;
}

.userlogout {
  margin-top: -30px;
}

.profilebtn {
  transition: 1s;
}
.profilebtn:hover {
  box-shadow: rgb(90, 176, 113) 1px 1px 0.5px 0.5px;
  border: rgb(90, 176, 113) 5px solid;
}

.profilecol {
  height: 530px;
}

.profilenav {
  opacity: 0;
  width: 150px;
  margin-right: 10px;
  transform: translateY(-200%); /* Start hidden above */
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

.profilelog {
  opacity: 1;
  transform: translateY(0%); /* Slide into view */
}

.nav-item.active1 {
  text-decoration: underline;
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.card:hover {
  background-color: rgb(218, 218, 218);
  box-shadow: rgb(51, 52, 51) 2px 2px 0.5px 0.5px;
  transform: scale(1.02);
}

.searchfrom {
  background-color: rgba(0, 0, 0, 0.548);
  padding: 30px 20px 10px 20px;
}

.myblock {
  width: 210px;
  height: 200px;
  margin: 0px 20px 20px 20px;
}
.helow {
  background: linear-gradient(
    to top,
    #198754,
    rgba(107, 132, 120, 0.196),
    rgba(215, 215, 215, 0.196)
  );
}

.hello {
  background-color: rgba(215, 215, 215, 0.29);
}

.active2 {
  text-decoration: underline white;
  text-shadow: #000000;
  transform: scale(1.05);
}
