{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <!-- FAQ Heading -->
      <div class="text-center mb-4">
        <h1 class="text-success fw-bold">Frequently Asked Questions (FAQ)</h1>
        <p class="text-muted">
          Find answers to the most common questions about our platform
        </p>
      </div>

      <!-- FAQ Section -->
      <div class="accordion" id="faqAccordion">
        {% for item in faq %}
        <div class="accordion-item border rounded-3 mb-5 shadow-sm">
          <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button
              class="accordion-button fw-bold text-white bg-success"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{ forloop.counter }}"
              aria-expanded="true"
              aria-controls="collapse{{ forloop.counter }}"
            >
              {{ item.question }}
            </button>
          </h2>
          <div
            id="collapse{{ forloop.counter }}"
            class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
            aria-labelledby="heading{{ forloop.counter }}"
            data-bs-parent="#faqAccordion"
          >
            <div class="accordion-body text-muted">{{ item.answer }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
