{% extends "base.html" %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <h4 class="mb-4 text-center fw-bolder">Update Password</h4>
      <div class="card shadow-sm">
        <div class="card-body">
          <form action="{% url 'pwdReset' %}" method="POST" class="px-2 py-3">
            {% csrf_token %} {% for field in form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
              </label>
              {{ field }}
              <div class="text-danger small">{{ field.errors }}</div>
            </div>
            {% endfor %}
            <div class="d-grid mb-2 mt-4">
              <button class="btn btn-success" type="submit">
                Update Password
              </button>
            </div>
            <div class="d-grid">
              <a class="btn btn-secondary" href={% url 'profile'%}>Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
