{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="text-center mb-3">
        <h4 class="fw-bolder">Update Your Profile</h4>
      </div>
      <div class="card shadow-lg p-4 mb-5">
        <div class="card-body">
          <form method="POST" action="{% url 'updateuser' %}">
            {% csrf_token %} {% for field in form %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}
              </label>
              {{ field }}
              <div class="form-text text-danger">{{ field.errors }}</div>
            </div>
            {% endfor %}
            <div class="d-grid">
              <button class="btn btn-success mb-2" type="submit">
                Update Profile
              </button>
              <a class="btn btn-secondary" href="{% url 'profile' %}">
                Cancel
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
